In [1]:
import pandas as pd

In [2]:
l1 = [1,2,3,4,5,6]
l2 = [11,22,33,44,55,66]

df = pd.DataFrame({
    "l1": l1,
    "l2":l2
})
df.head()

   l1  l2
0   1  11
1   2  22
2   3  33
3   4  44
4   5  55

In [ ]:
df.to_csv("./data/dummy.csv", index)